:root {
  font-size: 10px;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

$primary-color: #ffcbd4;
$button-color: #38f908;
@mixin fullcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin homepageText {
  background-color: white;
  width: 100%;
  padding: 2rem;
}
@mixin button-style {
  padding: 2rem;
  margin-top: 5rem;
  width: 250px;
  border: solid 4px rgb(140, 133, 133);
  border-radius: 25;
  background-color: $button-color;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.homepage {
  @include fullcenter();
  flex-direction: column;
  text-align: center;
  background-color: $primary-color;
  height: 100%;
  * {
    margin: 2rem;
  }
  h1 {
    font-size: 3rem;
    @media (min-width: 800px) {
      font-size: 5rem;
    }
  }
  h2 {
    font-size: 2rem;
    @media (min-width: 800px) {
      font-size: 3rem;
    }
  }
  .character-choice {
    padding: 2rem;
    width: 100%;
    height: 60vh;
    background-image: url(../assets/canape.jpeg);
    background-size: cover;
    margin: 0;
    @include fullcenter();
    justify-content: space-evenly;
    @media (max-width: 500px) {
      margin: 0;
    }
    h3 {
      @include homepageText();
      border-radius: 50;
      font-size: 3rem;
      @media (max-width: 400px) {
        font-size: 1.5rem;
        padding: 1rem;
      }
      @media (min-width: 800px) {
        font-size: 4rem;
      }
    }
    gap: 5rem;
    @media (max-width: 500px) {
      flex-direction: column;
    }
    div {
      @include fullcenter();
      flex-direction: column;

      img {
        margin: 0;
        width: 150px;
        @media (min-width: 100px) {
          width: 220px;
        }
      }
      @media (max-width: 500px) {
        flex-direction: row;
      }
      @media (max-width: 500px) {
        h3 {
          max-width: 35%;
        }
      }
    }
  }
  .start-button:hover {
    cursor: pointer;
  }

  .start-button {
    @include button-style();
    @media (max-width: 500px) {
      margin: 1rem;
    }
    @media (min-width: 700px) {
      font-size: 3rem;
    }
  }
}

.choice:hover {
  cursor: pointer;
}
.selected-border {
  padding: 2rem;
  border: solid 3px white;
  border-radius: 50%;
  background-color: $primary-color;
}

.game {
  height: 100vh;
  width: 100vw;
  @include fullcenter();
  @media (max-width: 750px) {
    flex-direction: column;
  }
  .character-side {
    background: url(../assets/canape.jpeg);
    background-size: cover;
    width: 50%;
    height: 100%;
    @media (max-width: 750px) {
      width: 100%;
      height: 50%;
    }
    @include fullcenter();
    img {
      @media (min-width: 750px) {
        width: 250px;
      }
    }
  }
  .info-side {
    font-size: 2.5rem;
    font-weight: bold;
    background-color: $primary-color;
    .console {
      @include fullcenter();
      flex-direction: column;
      gap: 5rem;
      input {
        height: 100px;
        width: 300px;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
      }
    }
    @media (max-width: 750px) {
      border-top: solid 3px black;
    }
    @media (min-width: 751px) {
      border-left: 4px solid black;
    }
    width: 50%;
    height: 100%;
    @include fullcenter();
    flex-direction: column;
    gap: 10rem;
    @media (max-width: 750px) {
      width: 100%;
      height: 50%;
    }
    .bars {
      @include fullcenter();
      flex-direction: column;
      gap: 4rem;
      @media (max-width: 750px) {
        gap: 2rem;
        flex-direction: row;
      }

      div {
        p {
          @media (max-width: 379px) {
            font-size: 2rem;
          }
        }
        gap: 2rem;
        @include fullcenter();
        flex-direction: column;
        @media (max-width: 750px) {
          max-width: 30%;
          progress {
            max-width: 30vw;
          }
        }
        @media (max-width: 450px) {
          progress {
            width: 100px;
          }
        }
        progress {
          padding: 2rem;
        }
      }
    }
    .buttons {
      @include fullcenter();
      gap: 2rem;
      width: 100%;
      button {
        max-width: 30%;
        padding: 2rem;
        border-radius: 50;
        font-size: 2rem;
        @media (max-width: 379px) {
          max-width: 25%;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.game-over {
  @include fullcenter();
  flex-direction: column;
  height: 100vh;
  background: url(../assets/canape.jpeg);
  background-size: cover;
  gap: 15rem;
  h2 {
    font-size: 6rem;
    @media (min-width: 700px) {
      font-size: 10rem;
    }
  }
  button {
    @include button-style();
    @media (min-width: 700px) {
      font-size: 3rem;
      padding: 4rem;
      width: 300px;
    }
  }
}

#again:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
